/*-- scss:rules --*/
.vmtprogress {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #eee;
    border: 1px solid black;
    font-size: 20pt;
}

.metcouncil-logos img {
    height: 80px;
    padding: 30px
}